name: CI - Build and Push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # سيتم تسمية الصورة باسم المستودع وتاريخ البناء
          tags: ${{ secrets.DOCKER_USERNAME }}/dtf-cloud-supplychain:latest,${{ secrets.DOCKER_USERNAME }}/dtf-cloud-supplychain:${{ github.sha }}
